/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.role-selector {
    margin-left: auto;
    margin-right: auto;
    width: 70.6%;
}

.role-selector button {
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 75px;
    width: 200px;
    border-radius: 7%;
    margin: 30px 125px;
    border: none;
    cursor: pointer;
}

.role-selector button:hover{
  opacity: 0.8;
}

.role-selector button:active{
  opacity: 1.2;
}

.fecha-field {
  text-align: right;
  margin-right: 45.5%;
}
